.speech{ 
    color:black;
    font-size:small;
    font-style:oblique;
    text-indent: 15px;
}

.song{
    color:black;
    font-size: medium;
    font-style: normal;
    text-indent: 60px;;
}

.name{
    color: black;
    font-size: large;
    font-style:inherit;
    text-indent: 80px;
}

.direction{

    background-color:lightpink;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.direction:hover{
    background-color:lightblue;
    color:black;
}

.CHO{
    color:cadetblue;
    font-size: medium;
    font-style: normal;
    background-color:yellow;
    text-indent: 100px;
}

.DAM{
    color:blue;
    font-size: x-large;
    font-style: oblique;
    background-color: beige;
}

.WOM{
    color:red;
    font-size: smaller;
    font-style: italic;
    background-color: palegreen;
}

.MEN{
    color:rgb(150, 19, 41);
    font-size: x-large;
    font-style:italic;
    background-color: paleturquoise;
}

.WILFRED{
    color:rgb(133, 75, 86);
    font-size: large;
    font-style:italic;
    background-color: rgb(175, 238, 207);
}

.POINT{
    color:rgb(159, 156, 78);
    font-size: x-large;
    font-style:italic;
    background-color: rgb(105, 125, 154);
}

table,
td,
th{
    border:solid 1px;
    color:rgb(189, 88, 88);
    text-align: center;
    padding: 1em;
    margin: 1px;
}
tr:nth-child(even){
    background-color: rgb(194, 204, 195);
}

.CHO:hover, .DAM:hover, .WOM:hover, .MEN:hover,.WILFRED:hover,.POINT:hover {
   
    text-shadow: 2px 2px 8px #cf7c0f;  
    border-style: 2px solid;
    
}

ul.navbar-horizontal{
    list-style-type: none;
    margin: 15px;  
  }
  ul.navbar-horizontal li{
      float: center;  
      background-color: rgb(80, 80, 99);
    }
    ul.navbar-horizontal a{
      text-align: center;
      color: #7a836e;
      display: block;
      padding: 5px;
      margin:10px;
    }
    ul.navbar-horizontal a:hover{
      background-color: rgb(113, 92, 76);
      color: rgb(129, 92, 99);
    }
    li{
      float: left;
     
    }
    i{
      color: chocolate;
      font-size: 50px!important;
    }